<div class="container-fluid navbar-inverse">	     
      	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	     	<ul class="nav navbar-nav navbar-right">
  			 	<li ><a href="home">Home</a></li>
  			 	<li><a href="about">About</a></li>
         	 	<li><a href="contact">Contact</a></li>
        	</ul>
        </div>
</div>



<div class ="container-fluid">
{{outlet}}
</div>

<div class="container-fluid navbar-inverse">
  
        <div class="row">
            <div class="col-md-4">
                
            </div>
            <div class="col-md-4">
                  
            </div>
                <div class="col-md-4">
                  
                    
                  
                </div>
          </div>   
          <div>  
            <p class="text-center">
              <font color="grey">Copyright © eMangu</font> 
              <a href="#">  Terms of Services</a>
              <a href="#">  Privacy</a>
              
            </p>
          </div> 

  </div>
