<br><br><br>
<div class="container-fluid ">
<br><br><br>
  
        <div class="row ">
        	<div class="col-md-1">
        	</div>
        	<div class="col-md-10 ">
        		<div class="row">
        			<div class="col-md-4">
        				<div class= "back">
        					<p class="text-center" style="font-size: 30px">Stu Smith</p>
        				</div>

        				<div class= "back">
        					<img src="image/me.jpg">
        					<p class="text-center">
        						I’m an entrepreneur.

								I’m  also Founding Partner at my business, a young start-up high tech company and writer to "secret to win."

        					</p>
        					<p class="text-center"><a href="about">Read More</a></p>

        				</div>
        				<div class= "back">
        					<p style="font-size: 20px" class="text-center">Follow me</p>
        					<p class="text-center">
	                            <a href="http://facebook.com" class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
	                            <a href="#" class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
	                            <a href="#" class="btn btn-social-icon btn-google-plus"><i class="fa fa-google-plus"></i></a>
	                        </p> 
	                        <br>
        				</div>

        				<br>
        				<div class= "back">
        					<p class="text-center" style="font-size: 30px">Recent Posts</p>
        				</div>
        				<div class= "back">
        				<br>
        					<p class="text-center">
        						sept. 17
        						<a href="#" class="text-center">Launching a startup in foreign country</a>       						
        					</P>
        					<p class="text-center">
        						sept. 17
        						<a href="#" class="text-center">Launching a startup in foreign country</a>       						
        					</P>
        					<p class="text-center">
        						sept. 17
        						<a href="#" class="text-center">Launching a startup in foreign country</a>       						
        					</P>
        					<p class="text-center">
        						sept. 17
        						<a href="#" class="text-center">Launching a startup in foreign country</a>       						
        					</P>
        					<p class="text-center">
        						sept. 17
        						<a href="#" class="text-center">Launching a startup in foreign country</a>       						
        					</P>
        					<br>

        				</div>

        				<br>
        				<div class= "back">
        					<p class="text-center" style="font-size: 30px">Populer Post</p>
        				</div>
        				<div class= "back">
        					<br>
        					<p class="text-center">
        						sept. 17
        						<a href="#" class="text-center">Launching a startup in foreign country</a>       						
        					</P>
        					<p class="text-center">
        						sept. 17
        						<a href="#" class="text-center">Launching a startup in foreign country</a>       						
        					</P>
        					<p class="text-center">
        						sept. 17
        						<a href="#" class="text-center">Launching a startup in foreign country</a>       						
        					</P>
        					<br>
        				</div>


        		
	            	</div>
	            	<div class="col-md-8">
	            		<div class= "back space">
	            			
	            				
	        					<p><a href="#"><h3>Launching a startup in foreign country</h3></a></p>
	        					<p> sept. 17, 2014<p>
	        					<p><a href="#"><img src="image/post.jpg" ></a></p>
	        					<p>
	        						To create your first image blog post, click here and select 'Add & Edit Posts' > All Posts > This is the title of your first image post.  Great looking images make your blog posts more visually compelling for your audience, and encourage readers to keep coming back. 
	        					</p>
	        					<p class="text-center"><button class="btn btn-success">Read More</button></p>
        					
        				</div>
        				<div class= "back space">
	            			
	            				
	        					<p><a href="#"><h3>Launching a startup in foreign country</h3></a></p>
	        					<p> sept. 17, 2014<p>
	        					<p><a href="#"><img src="image/post.jpg" ></a></p>
	        					<p>
	        						To create your first image blog post, click here and select 'Add & Edit Posts' > All Posts > This is the title of your first image post.  Great looking images make your blog posts more visually compelling for your audience, and encourage readers to keep coming back. 
	        					</p>
	        					<p class="text-center"><button class="btn btn-success">Read More</button></p>
        					
        				</div>
        				<div class= "back space">
	            			
	            				
	        					<p><a href="#"><h3>Launching a startup in foreign country</h3></a></p>
	        					<p> sept. 17, 2014<p>
	        					<p><a href="#"><img src="image/post.jpg" ></a></p>
	        					<p>
	        						To create your first image blog post, click here and select 'Add & Edit Posts' > All Posts > This is the title of your first image post.  Great looking images make your blog posts more visually compelling for your audience, and encourage readers to keep coming back. 
	        					</p>
	        					<p class="text-center"><button class="btn btn-success">Read More</button></p>
        					
        				</div>

        				
        		
	            	</div>
	            </div>
            </div>
            <div class="col-md-1">
        	</div>
         </div>
</div>
<br><br><br>